/* *{
    margin:0;
    padding: 0;
    box-sizing: border-box;
} */

:root {
    --card-bg-color : rgba(255, 247, 247, 0.838);
}
.logo{
    height: 73px;
    width: 93px;
    border-radius: 50%;
    /* mix-blend-mode: color-burn; */
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px 0 40px;
    height: 15vh;
    position: sticky;
    top: 0;
    border: 2px solid #ccc ;
    border-radius: 8px;
}
.nav-items{
    display: flex;
    align-items: center;
}
.nav-items ul{
    display: flex;
    gap: 20px;
}
.nav-items ul li{
    list-style: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.res-card{
    width: 250px;
    background-color: var(--card-bg-color);
    border-radius: 8px;
}
.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
}
.search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
.res-logo{
    height: 185px;
    width: 250px;
    border-radius: 8px;
    object-fit: cover;
}
.res-container{
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-items: center;
    margin: auto;
    row-gap: 10px;
    column-gap: 10px;
}
.res-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button.top-rated{
    background-color: rgb(147, 139, 139);
}
button.top-rated:hover{
    background-color: rgb(36, 30, 30);
}

.shimmer-card{
    background-color: #f0f0f0;
    height: 265px;
}

.ring{
    position: relative;
    top: 30vh;
    left: 40vw;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: rgb(147, 139, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


.child-ring-1{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}
.child-ring-2{
    position: relative;
    left: -20px;
    top: -20px;
    height: 50px;
    width: 60px;
    /* border-radius: 50%; */
    background-color: rgb(255, 255, 255);
}